<div class="m-5">
  <h1>Tendencias de tecnología del 2021</h1>
  <hr>
  <button class="btn btn-outline-danger float-right" (click)="salir()">
      Salir
  </button>
</div>
<br>
<br>
<div>
  <div>
    <div class="card mb-3">
      <img src="../../../assets/images/5G.jpg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-title">Redes 5G</h5>
        <p class="card-text">
          La red 5G llegó el pasado 2020 pero hay un hito de relevancia en este primer trimestre de 2021: la subasta de frecuencias de 700Mhz.
          La banda que permitirá sacar partido de las conexiones ultrarrápidas.
        </p>
        <p class="card-text">
          Esto, sumado al abaratamiento de la tecnología para el consumidor gracias a disponer de móviles de precio asequible con esta tecnología,
          hará que el 5G se extienda y consolide como el principal modelo de conectividad inalámbrica, y no solo de móviles.
        </p>
        <p class="card-text">
          Algunos de los usos de esta tecnología están por venir. Como es el soporte a los vehículos y drones autónomos, impulsar el IoT y las Smart Cities,
          mejora en la calidad de videoconferencias, aplicaciones e-health, realidad aumentada y numerosas aplicaciones en la industria de los videojuegos online.
        </p>
      </div>
    </div>

    <div class="card mb-3">
      <img src="../../../assets/images/Blockchain.jpeg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-title">Blockchain</h5>
        <p class="card-text fa-align-justify">
          La búsqueda de una identidad digital protegida y autogestionada sigue siendo piedra de toque en la actualidad.
          El pasado año, avanzábamos cómo se había llegado a un acuerdo entre grandes empresas españolas,
          entre las que se encuentra Banco Santander, para desarrollar la identidad digital con tecnología blockchain.
        </p>
        <p>
          Se espera que esta iniciativa, permita a los usuarios a gestionar de forma segura y fiable su propia identidad digital.
          Los principales beneficios de implantar este sistema sería facilitar contrataciones de
          servicios sin necesidad de rellenar formularios repetidas veces, ya sea para contratar un alquiler de coche,
          un seguro, un préstamo, etc, con la garantía de que la información aportada es fiable y no ha sido alterada.
        </p>
      </div>
    </div>

    <div class="card mb-3">
      <img src="../../../assets/images/realidadVyRealidadA.jpg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-title">Realidad virtual y aumentada</h5>
        <p class="card-text">
          No lo tuvimos en cuenta entre las principales tecnologías del año pasado, pero cabe mencionarlo por varias razones.
          El año pasado se anunciaron nuevos dispositivos o versiones evolucionadas de realidad virtual,
          como las gafas de Facebook, Oculus Quest 2, que han tenido una buena acogida en ventas.
        </p>
        <p class="card-text">
          Cierto es que las aplicaciones de estas tecnologías siguen acotadas a la industria del entretenimiento en general.
          Pero en vistas del rumor de que Apple está trabajando en unas gafas de realidad aumentada y un casco de realidad virtual,
          invita a pensar en futuros desarrollos de aplicaciones que tendrán acogida bajo esta tecnología próximamente.
        </p>
        <p class="card-text">
          El plan de Apple es competir con Oculus, Playstation VR y HTC, utilizar sus propios procesadores y su propia App Store dedicada.
          Es cierto que las Google glass no llegaron a tener éxito,
          pero quizá no era el momento o no se disponía de la tecnología adecuada (velocidad de procesamiento, de datos y de conectividad 5G).
        </p>
      </div>
    </div>

  </div>
</div>
